p {
  font-family: "Montserrat";
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 8px;
}

.description {
  font-weight: 500;
}

.underline {
  text-decoration: underline;
}