.chat-input-container {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.send-button {
  background-color: #f18e43;
  color: white;
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.chat-input {
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
  /* take up the remaining space */
}

.loading-spinner {
  height: 40px;
  margin: -15px;
}

@media (max-width: 600px) {
  .chat-input-container {
    width: 100%;
    margin-bottom: 10px;
  }
  .chat-input {
    font-size: 14px;
    padding: 10px 8px;
    min-width: 0;
  }
  .send-button {
    font-size: 14px;
    padding: 10px 12px;
    margin-left: 6px;
  }
}